/* mraro admin stylsheet */

* { 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-y:scroll;
}

.small {
  font-size: 0.7em;
}

nav.mra {
  position:relative;
}
#menu_buttons {
  display:none;
  position:absolute;
  background:#EEDD82;
  width:100%;
  text-align:center;
  padding: 0.2em 0;
}
#menu_buttons button {
  color: #555;
  font-family: sans;
}
#btn_logout {
  float: right;
}

#fileTree.hidden {
  display: none;
}
#fileTree.shown {
  display:block;
}

div#btn_files {
  text-align:center;
  margin-top:1em;
}

article {
  margin-top:1.2em
}

#main-list,
#page-settings {
  max-width: 440px;
  text-align: left;
  font-size: 12pt;
}

#main-list,
#page-edit,
#page-settings {
  margin: 0 auto;
  border: 1px solid hsl(180,10%,60%);
  border-radius: 0.2em;
  background: hsl(180,10%,90%);
  padding: 1em 1em 1em 1em;
  color: hsl(180,10%,27%);
  font-family: sans-serif;
}  


#main-list ul,
#main-list li {
  list-style: none;
}
#main-list ul {
  padding: 0.2em 0.2em 0.2em 0;
}
#fileTree > ul {
  padding: 0;
  margin: 1em 0 0;
}
#main-list li {
  padding: 0.2em 0.2em 0.2em 0.4em;
}

#main-list > ul > li:first-child {
  margin-top:0;
}

li.category {
  background: hsl(180,5%,80%);
  border-radius:0.2em;
}

#main-list li.new div{
  background: hsl(180,25%,90%);
  border-radius:0.2em;
  padding: 0.4em;
  box-shadow: 0 0.2em 0.3em 0.05em gray;
}

#main-list .page input {
  margin: 0 0.4em 0 0;
}

/*form#page-edit*/

#wmd-input{
  margin-bottom:0.6em;
  padding: 0.2em;
}

.mra_button, .mra_small_button {
  background: hsl(180,10%,80%);
  color: hsl(180,10%,40%);
  border-radius:0.2em;
  border: 1px solid hsl(180,10%,60%);  
  cursor:pointer;
  margin:0;
  padding:0.2em 0.4em;
  font-size:0.8em;
  text-decoration:none;
}
.mra_button:hover {
  background: hsl(180,30%,60%);
}
.mra_small_button {
  font-size:0.6em;
  background: transparent;
  border:0; 
}
.mra_small_button:hover {
  background: hsl(0,0%,60%);  
}
/* Login window */
body.mra_login {
  font-family: sans-serif;
}
.mra_login div#input {
  max-width: 196px;
  margin: 2em auto 0 auto;
  border: 1px solid hsl(180,10%,60%);
  border-radius: 0.2em;
  background: hsl(180,10%,90%);
  color: hsl(180,10%,40%);
  padding: 0.4em 1em 0 1em;
}
.mra_login div#input input {
  width: 100%;
  border: 1px solid hsl(180,10%,60%);
  border-radius: 0.2em;
  color: hsl(180,10%,40%);
}
.mra_login a.link {
  font-size: 0.6em;
  display: block;
  margin: 0.6em auto;
  text-align: left;
  width: 162px;
  color: black;
}

/* Mra messages, feedback to user */
.mra_feedback_wrap {
  position:relative;
  width: 100%;
  animation: msg_out 2s 1s 1 forwards;
  -webkit-animation: msg_out 2s 1s 1 forwards; 
}
.mra_feedback {
  overflow: hidden;
  position:absolute;
  top: 0;
  right: 0;
  border: 1px hsl(0,0%,90%) solid;
  border-radius: 0.2em;
  text-align: center;
  padding: 0.2em 0.4em 0.2em 0.4em;
  font-size: 0.8em;
  color: hsl(0,0%,40%);
  background: #fff;
}
.feed_error {
  background: hsl(0,70%,70%);
}
.feed_success {
  background: hsl(120,40%,70%);
}
.feed_info {
  background: hsl(50,60%,70%);
}
@keyframes msg_out {
from {
  opacity: 1;
  z-index:10;
  }
to {
  opacity: 0;
  z-index:-1;
  }
}
@-webkit-keyframes msg_out {
from {
  opacity: 1;
  z-index:10;
  }
to {
  opacity: 0;
  z-index:-1;
  }
}

/* CSS for nativesortable */
[draggable]{cursor:pointer;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none}[draggable] *{-moz-user-drag:none;-khtml-user-drag:none;-webkit-user-drag:none;-o-user-drag:none;user-drag:none}.sortable li.sortable-dragging{opacity:.25;transition:all .2s}.sortable li.sortable-over{opacity:.25}

/* CSS for showdown */
.wmd-button-bar{width:100%;background-color:Silver}.wmd-input{height:300px;width:100%;background-color:Gainsboro;border:1px solid DarkGray;color:#000}.wmd-button-row{position:relative;margin-left:5px;margin-right:5px;margin-bottom:5px;margin-top:10px;padding:0;height:20px}.wmd-spacer{width:1px;height:20px;margin-left:14px;position:absolute;background-color:Silver;display:inline-block;list-style:none}.wmd-button{width:20px;height:20px;padding-left:2px;padding-right:3px;position:absolute;display:inline-block;list-style:none;cursor:pointer}.wmd-button>span{background-image:url('wmd-buttons.png');background-repeat:no-repeat;background-position:0 0;width:20px;height:20px;display:inline-block;border-radius:2px}.wmd-spacer1{left:50px}.wmd-spacer2{left:175px}.wmd-spacer3{left:300px}.wmd-prompt-background{background-color:Black}.wmd-prompt-dialog{border:1px solid #999;background-color:#f5f5f5;color:#555}.wmd-prompt-dialog>div{font-size:.8em;font-family:arial,helvetica,sans-serif}.wmd-prompt-dialog>form>input[type="text"]{border:1px solid #999;color:black}.wmd-prompt-dialog>form>input[type="button"]{color:#555;border:1px solid #888;font-family:trebuchet MS,helvetica,sans-serif;font-size:.8em;font-weight:bold}
