# Files to exclude

content/*

mra/mra.conf
mra/menu.conf
mra/.creds
mra/tmp/*

uploads/*
!uploads/img
uploads/img/*
!uploads/img/error.png

mra/theme/*
!mra/theme/index.php
!mra/theme/default

# favicons
favicon.ico
apple-touch-icon*


